
.about {
    width: 100%;
    margin: 0 auto;
    padding: 75px 0;

}


.textAndPhoto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .aboutText {
        width: 64%;
        p {
            @include fontSize (16);
            line-height: 1.5;
        }
    }
    .myPhoto {
        width: 34%;
        img {
            display: block;
            width: 100%;
        }
    }
}

